body {   
    margin: 0;
    padding: 0;
    min-width: 90%;
    background-color: #222; 
    color: #ddd;  
}
header,
footer,
.input-date,
.input_,
.timer {
    width: 900px;
    margin: 0 auto;
    background-color: #ddd;

}
header {     
    height: 60px;
    background-image: linear-gradient(
                        to top, #0029df 30px, #7e9ffb 60px);    
}
header h1 {
    text-align: center;
    font-size: 40px;   
    margin-top: 0;    
}
.input-date {     
    height: 60px;
    color: #111;    
}
.input_ {
    margin: 5px;
    width: 70px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    
    display: inline;
}
span {
    font-size: 20px;
}
button {
    width: 120px;
    height: 70px;
    background-image: linear-gradient(
                        to top, #0029df 30px, #7e9ffb 60px);   
    border: solid 2px rgb(5, 46, 209);
    border-radius: 10px;
    color: #ddd; 
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
    display: inline-block;    
}
button:hover {
    color: #111;
    background-image: linear-gradient(
                        to top, #798bdc 30px, #d9deee 60px);
}
button: {
    color: rgb(231, 22, 22);
    background-image: linear-gradient(
                        to top, #798bdc 30px, #d9deee 60px);
}
.title {
    padding: 20px;
    color: #0029df;
    font-size: 24px;
    text-align: center;    
}
.timer__block {
    width: 25%;
    height: 120px;
    color: #0029df;
    font-size:20px;
    text-align: center;
    float: left;  
    background-color: #eee;  
}
.timer__block p {
    margin: 0;
    font-size:80px;
}

footer {
    box-sizing: border-box;
    padding: 1px;
    padding-left: 40px;
    background-image: linear-gradient(
                        to top, #7e9ffb 0px, #0029df 20px); 
    clear: both;
}
footer a {
    font-weight: bold;    
    text-decoration: none;  
    color: #eee;  
    padding-left: 10px;

}